In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Sample.xlsx")

In [3]:
df.head()

                Name  Phone Number        Email
0  Kartikeya Agarwal  1.234568e+09  abc@xyz.com
1           Shreyans  9.876543e+08  abc@xyz.com
2             Nikhil  1.357925e+09  abc@xyz.com
3             Ineesh  2.468014e+09  abc@xyz.com
4             Tismet           NaN  abc@xyz.com

In [5]:
df = df.fillna(" ")

In [11]:
for i in df.index:
    START = "BEGIN:VCARD\n"
    VERSION = "VERSION:3.0\n"
    FN = "FN:"
    TEL = "TEL;TYPE=VOICE,CELL;VALUE=text:"
    EMAIL = "EMAIL;TYPE=HOME,INTERNET,pref:"
    END = "END:VCARD\n"
    text = ""
    FN += (df["Name"][i]+"\n")
    TEL += (str(int(df["Phone Number"][i]))+"\n")
    EMAIL += (df["Email"][i]+"\n")
    
    text = START+VERSION+FN+TEL+EMAIL+END
    print(text)

BEGIN:VCARD
VERSION:3.0
FN:Kartikeya Agarwal
TEL;TYPE=VOICE,CELL;VALUE=text:1234567890
EMAIL;TYPE=HOME,INTERNET,pref:abc@xyz.com
END:VCARD

BEGIN:VCARD
VERSION:3.0
FN:Shreyans
TEL;TYPE=VOICE,CELL;VALUE=text:987654321
EMAIL;TYPE=HOME,INTERNET,pref:abc@xyz.com
END:VCARD

BEGIN:VCARD
VERSION:3.0
FN:Nikhil
TEL;TYPE=VOICE,CELL;VALUE=text:1357924680
EMAIL;TYPE=HOME,INTERNET,pref:abc@xyz.com
END:VCARD

BEGIN:VCARD
VERSION:3.0
FN:Ineesh
TEL;TYPE=VOICE,CELL;VALUE=text:2468013579
EMAIL;TYPE=HOME,INTERNET,pref:abc@xyz.com
END:VCARD

ValueError: invalid literal for int() with base 10: ' '